<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Descargar audio de YouTube</title>
</head>
<body>
    <div class="container">
        <h1>Descargar audio de YouTube</h1>
        <form action="{{ url_for('search_youtube') }}" method="post">
            <input type="text" name="search_query" placeholder="Buscar en YouTube" required>
            <button type="submit">Buscar</button>
        </form>
        {% if results %}
            <ul>
                {% for result in results %}
                    <li>
                        {{ result['title'] }}
                        <a href="{{ url_for('download_audio', video_id=result['id']) }}" download>Descargar audio</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>
